@{
    var members = PoloSitioWeb.Helpers.TeamHelper.GetAll();
}

<!-- ======= Testimonials Section ======= -->
<!-- ======= Testimonials Section ======= -->
<section id="team" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Equipo</h2>
            <p>
                Aquí, los integrantes que formamos el equipo del Polo Tecnológico.
            </p>
            <p>
                Profesionales en distintas áreas IT, desempeñamos tareas interrelacionadas para la construcción de software.
                ¡Conocenos!
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="usquare_module_wrapper">

                    <div class="usquare_module_shade" style="display:inline-block"></div>
                    @{
                        var clasesFlechas = new Dictionary<int, string>();
                        clasesFlechas.Add(0, "usquare_square_bgblue1");
                        clasesFlechas.Add(1, "usquare_square_bggreen1");
                        clasesFlechas.Add(2, "usquare_square_bgyellow1");
                        foreach (var member in members)
                        {
                            var posicion = members.IndexOf(member) + 1;

                            var esImpar = posicion % 6 > 3 || posicion % 6 == 0;
                            //var clase = posicion % 9 == 0 ? clasesFlechas[2] : posicion % 9 <= 3 ? clasesFlechas[0] : posicion % 9 <= 6 ? clasesFlechas[1] : clasesFlechas[2];
                            var clase = esImpar ? clasesFlechas[1] : clasesFlechas[0];

                            var imgArrow = esImpar ? "arrow.png" : "arrow_r.png";
                            var classArrow = esImpar ? "usquare_arrow " : "usquare_arrow usquare_arrow_r";
                            <div class="usquare_block">
                                @if (esImpar)
                                {
                                    <img src="@member.ImageUrl" class="usquare_square @clase" alt="" />
                                }
                                <div class="usquare_square @clase">
                                    <div class="usquare_square_text_wrapper">
                                        <img src="assets/vendor/usquare/images/@imgArrow" class="@classArrow" alt="arrow" />
                                        <div class="clear"></div>
                                        <h2>@member.Name</h2>
                                        <span>@member.Role</span>
                                        <span>@member.Enterprise.Name</span>
                                        <div class="clear"></div>
                                    </div><!-- usquare_square_wrapper -->
                                </div><!--div    usquare_square -->
                                @if (!esImpar)
                                {
                                    <img src="@member.ImageUrl" class="usquare_square" alt="" />
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:2em">
            <div class="col-md-12">
                <p class="text-center">
                    Si querés formar parte del Polo, escribinos <a href="#contact">aquí</a>.
                </p>
            </div>
        </div>

    </div>
</section><!-- End Testimonials Section -->